.main-table {
    padding: 10px;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.addtask-buttons{
    display: flex;
    justify-content:center;
    gap: 5px;
    margin-top: 20px;
}